<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to the [Online Test App]</h1>
  <p class="col-md-8 fs-4">These questions will contain a total of 5 questions. Each Question holds 5 Points</p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct answer gives you 5 points.</li>
    <li>Incorrect answer gives to -5 points.</li>
    <li>There will be 60 sec to answer each question.</li>
    <li>Any page referesh will reset the answers.</li>
  </ol>
  <h1 style="font-family: cursive;text-align:center">Best of luck in your test<span>&#9786;</span></h1>

  <div class="row g-0 text-center">
    <div class="col-sm-6 col-md-8">
      <label for="">Enter your name:</label>
      <input #name type="text" class="form-control">
    </div>
    <div class="col-6 col-md-4">
      <label>Please Select Subject</label>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startTests()">[Begin the test]</button>
  </div>
</div>
